<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.globeeditor.globe</string>
			</array>
			<key>NSUbiquitousDocumentUserActivityType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).globe</string>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.globeeditor.globe</string>
			<key>UTTypeDescription</key>
			<string>Globe World Map</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>globe</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>GlobeEditor needs access to open and save globe map files.</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>GlobeEditor needs access to open and save globe map files.</string>
	<key>com.apple.security.files.user-selected.read-write</key>
	<true/>
</dict>
</plist>
